<!DOCTYPE html>
<html>
<head>
    <title>Bank App Project Team</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>Bank App Development Team</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="progress">Project Progress</a></li>
                <li><a href="milestones">Milestones</a></li>
                <li><a href="team">Team</a></li>
            </ul>
        </nav>
    </header>
<main>
    <section id="team">
        <h2>Our Team</h2>
        <p>Meet the developers behind the Bank App Project:</p>
        <ul>
            <li>Jean Paul Iradukunda - Developer</li>
            <li>Muhammad Kashif Hasnain - Developer</li>
        </ul>
    </section>
</main>
<footer>
    <p>© 2024 Bank App Project Team</p>
</footer>
</body>
</html>